/* moblet */
@media (max-width: 1023px) {
    .hide-on-moblet {
        display: none;
    }
    .features {
        margin-top: 20px;
    }

    .slider {
        margin: 0 8px 0 11px;
    }
    .slider__label {
        left: 20px;
        text-decoration: underline;
        bottom: 20px;
        top: unset;
        transform: unset;
    }
    .slider__text--top {
        font-size: 2.2rem;
        margin: 0 0 8px 0;
        line-height: 2.2rem;
    }
    .slider__text--bottom {
        font-size: 2.8rem;
        line-height: 2.8rem;

    }

    /* content */
    
    .feature-text a {
        font-size: 3.3rem;
        line-height: 3.3rem;
    }
    .feature-text p {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .navbar-footer {
        padding: 80px 0;
    }
    .navbar-footer-item a {
        font-size: 1.8rem;
    }
    .policy a {
        font-size: 1.4rem;
    }
}
/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__logo{
        top: 70%;
        left: 20px;
    }
    .header__logo-img {
        width: 130px;
    }
    .menu-btn {
        display: flex;
    }
    .slider {
        margin-left: 0;
    }
    .carousel-container {
        padding-top: 53px;
    }


    /* content */
    .feature {
        margin: 10px 10px 30px;
        border: thick double #494949;
        padding-bottom: 20px;
    }
    .feature-reverse {
        flex-direction: column-reverse;
        
    }
    .feature-text {
        padding: 0 40px;
    }
    .feature-img {
        width: 100%;
        height: auto;
        box-shadow: unset;
    }
    .feature-img img {
        padding: 16px 8px;
    }

    .instagram-container {
        padding: 0 5px 0 5px;
    }
    .load-btn {
        margin-right: 6px;
    }
    /* footer */
    .footer {
        padding: 40px 10px 0 10px;
    }
    .navbar-footer {
        flex-direction: column;
        padding: 40px 0;
    }
    .navbar-footer-item + .navbar-footer-item {
        margin-left: 0;
    }
    .navbar-footer-item a {
        line-height: 3.2rem;
    }

}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header__logo {
        top: 65%;
        left: 40px;
    }
    .feature {
        padding-bottom: 60px;
    }
    .instagram-container {
        padding: 0 10px 0 10px;
    }
    .footer {
        padding: 50px 10px 0 10px;
    }
}

